swagger: "2.0"
info:
  version: "2.0.0"
  title: "CPE Course Review"
  description: "API เฉพาะสำหรับการรีวิววิชาภายในภาควิชาวิศวกรรมคอมพิวเตอร์"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "whale-app-3xvcg.ondigitalocean.app"
basePath: "/v1"
tags:
  - name: "วิชา"
    description: "เข้าถึงข้อมูลวิชาต่างๆ"
  - name: "รีวิว"
    description: "เข้าถึงข้อมูลรีวิวต่างๆ ของวิชาหนึ่งๆ"
  - name: "ผู้ใช้"
    description: "จัดการข้อมูลผู้ใช้"
schemes:
  - "https"
paths:
  /courses:
    get:
      tags:
        - "วิชา"
      summary: "รายการวิชาทั้งหมด"
      description: "แสดงรายการวิชาทั้งหมดที่มีในระบบ"
      operationId: "getCourse"
      produces:
        - "application/json"
      parameters:
        - name: "query"
          in: "query"
          description: "คำค้นหารายวิชา"
          type: "string"
        - name: "type"
          in: "query"
          description: "ประเภทวิชา"
          type: "string"
          enum:
            - "me"
            - "fe"
            - "ge"
      responses:
        200:
          description: "ปกติ"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/CourseOverview"
        400:
          description: "พารามิเตอร์ไม่ถูกต้อง"
  /course/{courseId}:
    get:
      tags:
        - "วิชา"
      summary: "รายละเอียดวิชา"
      description: "แสดงข้อมูลรายละเอียดของวิชาที่ระบุ"
      operationId: "getCourseById"
      parameters:
        - name: "courseId"
          in: "path"
          description: "รหัสวิชาของมหาวิทยาลัย"
          required: true
          type: "string"
      responses:
        200:
          description: "ปกติ"
          schema:
            $ref: "#/definitions/CourseDetail"
        404:
          description: "ไม่พบวิชา"
    post:
        tags:
          - "วิชา"
        summary: "เพิ่มวิชา"
        description: "เพิ่มวิชาเข้าไปยังระบบ"
        operationId: "addCourse"
        produces:
          - "application/json"
        parameters:
          - name: "accessToken"
            in: "header"
            description: "JWT Token สำหรับการยืนยันตัวตน"
            required: true
            type: "string"
          - name: "body"
            in: "body"
            description: "ข้อมูลวิชา"
            required: true
            schema:
                $ref: "#/definitions/CourseDetail"
        responses:
          201:
            description: "สร้างวิชาสำเร็จ"
          400:
            description: "ข้อมูลไม่ถูกต้อง"
          403:
            description: "ไม่มีสิทธิ์เข้าถึง"
  /course/{courseId}/reviews:
    get:
      tags:
        - "รีวิว"
      summary: "รายการรีวิวเบื้องต้น"
      description: "แสดงรายการข้อมูลการรีวิวเบื้องต้นของวิชาที่ระบุ"
      operationId: "getReviewOverviewByCourseId"
      produces:
        - "application/json"
      parameters:
        - name: "courseId"
          in: "path"
          description: "รหัสวิชาของมหาวิทยาลัย"
          required: true
          type: "string"
      responses:
        200:
          description: "ปกติ"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ReviewOverview"
        400:
          description: "พารามิเตอร์ไม่ถูกต้อง"
        404:
          description: "ไม่พบวิชา"
    post:
      tags:
        - "รีวิว"
      summary: "เพิ่มรีวิว"
      description: "เพิ่มรีวิวเข้าไปยังวิชาที่ระบุ"
      operationId: "addReview"
      parameters:
        - name: "accessToken"
          in: "header"
          description: "JWT Token สำหรับการยืนยันตัวตน"
          required: true
          type: "string"
        - name: "courseId"
          in: "path"
          description: "รหัสวิชาของมหาวิทยาลัย"
          required: true
          type: "string"
        - name: "body"
          in: "body"
          description: "ข้อมูลรีวิว"
          required: true
          schema:
            $ref: "#/definitions/ReviewDetail"
      responses:
        201:
          description: "สร้างรีวิวสำเร็จ"
        400:
          description: "ข้อมูลไม่ถูกต้อง"
        403:
          description: "ไม่มีสิทธิ์เข้าถึง"
        404:
          description: "ไม่พบวิชา"
    patch:
      tags:
        - "รีวิว"
      summary: "แก้ไขรีวิว"
      description: "แก้ไขรีวิวของวิชาที่ระบุ"
      operationId: "editReview"
      parameters:
        - name: "accessToken"
          in: "header"
          description: "JWT Token สำหรับการยืนยันตัวตน"
          required: true
          type: "string"
        - name: "courseId"
          in: "path"
          description: "รหัสวิชาของมหาวิทยาลัย"
          required: true
          type: "string"
        - name: "body"
          in: "body"
          description: "ข้อมูลรีวิว"
          required: true
          schema:
            $ref: "#/definitions/ReviewDetail"
      responses:
        200:
          description: "แก้ไขรีวิวสำเร็จ"
        400:
          description: "ข้อมูลไม่ถูกต้อง"
        403:
          description: "ไม่มีสิทธิ์เข้าถึง"
        404:
          description: "ไม่พบวิชา หรือ ไม่พบรีวิวที่ต้องการแก้ไข"
    delete:
      tags:
        - "รีวิว"
      summary: "ลบรีวิว"
      description: "ลบรีวิวของวิชาที่ระบุ"
      operationId: "deleteReview"
      parameters:
        - name: "accessToken"
          in: "header"
          description: "JWT Token สำหรับการยืนยันตัวตน"
          required: true
          type: "string"
        - name: "courseId"
          in: "path"
          description: "รหัสวิชาของมหาวิทยาลัย"
          required: true
          type: "string"
      responses:
        200:
          description: "ลบรีวิวสำเร็จ"
        403:
          description: "ไม่มีสิทธิ์เข้าถึง"
        404:
          description: "ไม่พบวิชา หรือ ไม่พบรีวิวที่ต้องการลบ"
  /course/{courseId}/reviews/detail:
    get:
      tags:
        - "รีวิว"
      summary: "รายการรีวิวโดยละเอียด"
      description: "แสดงรายการข้อมูลการรีวิวทั้งหมดของวิชาที่ระบุ"
      operationId: "getReviewDetailByCourseId"
      produces:
        - "application/json"
      parameters:
        - name: "courseId"
          in: "path"
          description: "รหัสวิชาของมหาวิทยาลัย"
          required: true
          type: "string"
      responses:
        200:
          description: "ปกติ"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ReviewDetail"
        400:
          description: "พารามิเตอร์ไม่ถูกต้อง"
        404:
          description: "ไม่พบวิชา"
  /course/{courseId}/grades:
    get:
      tags:
        - "วิชา"
      summary: "รายการเกรด"
      description: "แสดงรายการข้อมูลเกรดของวิชาที่ระบุ"
      operationId: "getGradeByCourseId"
      produces:
        - "application/json"
      parameters:
        - name: "courseId"
          in: "path"
          description: "รหัสวิชาของมหาวิทยาลัย"
          required: true
          type: "string"
      responses:
        200:
          description: "ปกติ"
          schema:
            type: "array"
            items:
              type: "string"
              enum:
                - "A"
                - "B+"
                - "B"
                - "C+"
                - "C"
                - "D+"
                - "D"
                - "F"
                - "W"
                - "-"
        404:
          description: "ไม่พบวิชา"
  /auth:
    get:
      tags:
        - "ผู้ใช้"
      summary: "ยืนยันตัวตน"
      description: "ยืนยันตัวตนผ่านระบบ CMU OAuth"
      operationId: "auth"
      responses:
        302:
          description: "Redirect ไปยังหน้ายืนยันตัวตน"
  /callback:
    get:
      tags:
        - "ผู้ใช้"
      summary: "Callback การยืนยันตัวตน"
      description: "Callback การยืนยันตัวตนจากระบบ CMU OAuth"
      operationId: "callback"
      parameters:
        - name: "code"
          in: "query"
          description: "รหัสยืนยันตัวตน"
          required: true
          type: "string"
      responses:
        200:
          description: "ยืนยันตัวตนสำเร็จ"
          schema:
            type: "object"
            properties:
              accessToken:
                type: "string"
                description: "JWT Token"
        400:
          description: "รหัสยืนยันตัวตนไม่ถูกต้อง"
  
definitions:
  CourseOverview:
    type: "object"
    properties:
      id:
        type: "string"
        description: "รหัสวิชาของมหาวิทยาลัย"
      name_th:
        type: "string"
        description: "ชื่อวิชา (ภาษาไทย)"
      name_en:
        type: "string"
        description: "ชื่อวิชา (ภาษาอังกฤษ)"
      type:
        type: "string"
        description: "ประเภทวิชา"
        enum:
          - "me"
          - "fe"
          - "ge"
      total_reviews:
        type: "integer"
        format: "int64"
        minimum: 0
      rating:
        type: "number"
        format: "float"
        minimum: 1
        maximum: 5
    example:
      id: "261200"
      name_th: "การเขียนโปรแกรมเชิงวัตถุ"
      name_en: "Object-Oriented Programming"
      type: "me"
      total_reviews: 1
      rating: 5
  CourseDetail:
    type: "object"
    allOf:
      - $ref: "#/definitions/CourseOverview"
    properties:
      description:
        type: "string"
        description: "คำอธิบายของวิชา"
      lecturers:
        type: "array"
        description: "ชื่ออาจารย์ผู้สอน"
        items:
          type: "string"
      credit:
          type: "object"
          description: "หน่วยกิต"
          $ref: "#/definitions/CourseCredit"
    example:
      id: "261361"
      name_th: "การเขียนโปรแกรมเชิงวัตถุ"
      name_en: "Object-Oriented Programming"
      type: "me"
      description: "เรียนเกี่ยวกับการเขียนโปรแกรมเชิงวัตถุ"
      lecturers: [ "พี่ชิณสุดหล่อ" ]
      credit:
          lecture: 3
          lab: 1
  CourseCredit:
    type: "object"
    properties:
      lecture:
        type: "number"
        format: "integer"
        minimum: 0
      lab:
        type: "number"
        format: "integer"
        minimum: 0
  ReviewOverview:
    type: "object"
    properties:
      rating:
        type: "integer"
        format: "int64"
        minimum: 1
        maximum: 5
      grade:
        type: "string"
        enum:
          - "A"
          - "B+"
          - "B"
          - "C+"
          - "C"
          - "D+"
          - "D"
          - "F"
          - "W"
          - "-"
      content:
        type: "string"
    example:
      rating: 5
      grade: "A"
      content: "เรียนเข้าใจง่ายมาก แต่ TA ตรวจค่อนข้างเข้มข้นและช้ามาก"
  ReviewDetail:
    type: "object"
    allOf:
      - $ref: "#/definitions/ReviewOverview"
    properties:
      classroom_environment:
        type: "string"
      examination_format:
        $ref: "#/definitions/ExaminationInfo"
      exercise_format:
        $ref: "#/definitions/ExerciseInfo"
      grading_method:
        type: "array"
        items:
          type: "string"
          enum:
            - "midterm"
            - "final"
      semester:
        type: "string"
        enum:
          - "1"
          - "2"
          - "3"
      year:
        type: "integer"
        format: "พุทธศักราช"
    example:
      rating: 5
      grade: "A"
      content: "เรียนเข้าใจง่ายมาก แต่ TA ตรวจค่อนข้างเข้มข้นและช้ามาก"
      classroom_environment: "เรียนในห้องแอร์เย็นสบาย"
      examination_format:
        format: "midterm"
        difficulty: "normal"
      exercise_format:
        format: "group"
        difficulty: "normal"
      grading_method: [ "midterm", "final" ]
      semester: "2"
      year: 2564
  ExaminationInfo:
    type: "object"
    properties:
      format:
        type: "array"
        items:
          type: "string"
          enum:
            - "objective"
            - "subjective"
      difficulty:
        type: "string"
        enum:
          - "easy"
          - "normal"
          - "hard"
    example:
      format: "midterm"
      difficulty: "normal"
  ExerciseInfo:
    type: "object"
    properties:
      format:
        type: "array"
        items:
          type: "string"
          enum:
            - "group"
            - "individual"
      difficulty:
        type: "string"
        enum:
          - "easy"
          - "normal"
          - "hard"
    example:
      format: "group"
      difficulty: "normal"